
div{
  position: absolute;
  width: 600px;
  left: 0px;
  top: 0px;
  margin-left: 400px;
  background-color: black;
}
.img {
  width: 600px;
  left: 0px;
  top: 0px;
}
.icon {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 60px;
  background-color: black;

}

